<style>
 .gray-item {
     @apply mt-3 p-8 bg-nuetral-1 border-primary border-2 decoration-fuchsia-600 font-bold text-greenapple w-1/3;
 }
</style>
<div>
    <div class="flex flex-row justify-center mt-4 mygap">
        <Hoverable {leave}="javafunc();"
                   class="gray-item"
                   {default}="Default Set Via Variable">
            First child<br/><span class="text-sm text-black font-normal"> *put in slot since default set.</span><br/>
            <b>Second child going to default slot</b>
        </Hoverable>
        <Hoverable {leave}="javafunc();"
                   class="gray-item">
            First child is default
            <b>Second child is first slot item</b>
        </Hoverable>
        <Hoverable {leave}="javafunc();" class="gray-item pl-10"
                   {default}="">
            First child<br/><span class="text-sm text-black font-normal"> *default is blank text</span>
            <div>Second child</div>
        </Hoverable>
    </div>
    <div class="flex flex-row justify-center mt-4 mygap">
        <Hoverable {leave}="javafunc();" class="pl-10 gray-item">
            First Child
            <div>Second child</div>
            <li>At end of children, but is &lt;li&gt;</li>
            <li>Also &lt;li&gt; element</li>
        </Hoverable>
        <Hoverable class="pl-10 gray-item">
            Odd Behavior with elements
            <div class="flex gap-4">
              Forgot what this was to test...
            </div>
        </Hoverable>
    </div>
</div>
